*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.myCards__img{
    width: 35ex;
}
.myCards__article{
    border: 1px solid black;
    width: 500px;
    height: auto;
}
.myDescription{
    width: 100%;
}