

.cartDetail__img{
    width: 200px;
}
.cartDetail__item{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.carousel{
    width: 30%;
    border: 1px solid;
}
.homeDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
}
.contactoForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control{
    width: 500px;
}
.tituloForm{
    padding: 50px;
    text-align: center;
}
.formFireBase{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.formFireBase__item{
    padding: 10px;
}
.totalCompra{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.formFireBase__children{
    padding-top: 5px;
    padding-bottom: 10px;
}
.button__pedido{
    padding-bottom: 10px    ;
}
.finalizacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 300px;
}