.navFooter{
    display: flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    align-self: flex-end;
}
.navFooter__item{
    padding: 20px;
}
.navFooter__link{
    font-size: 25px;
    color: red;
}

.navFooter__link:hover{
    color: black;
}