*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
.myCards{
  display: flex;
  flex-wrap: wrap;
}
.myCart{
  display: flex;
  justify-content: flex-end;
}
.myCart__shopping{
  height: 5em;
  width: 5%;
}
.fa-shopping-cart{
  font-size: 2em;
}
a{
  text-decoration: none;
}
